body{
    background-color: #ddd;
    font-family: Tahoma;
}
div#corpo{
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
}
table.listagem{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.listagem tr{
    height: 50px;
}
table.listagem td{
    padding: 10px;
}
table.listagem tr:nth-child(even){
    background-color: #f2f2f2;
}
table.listagem td:nth-child(1){
    width: 50px;
}
table.listagem td:nth-child(3){
    width: 90px;
}
img.mini{
    width: 50px;
}
table.detalhes{
    width: 100%;
}